select option {
  margin: 40px !important;
  background: #0F5F6B !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4) !important;
  padding-top:15px !important;
}

select
{
  border: 0 !important;
}

.content-wrapper
{
  min-height: calc(100vh - 71px);
}

.overflow-none
{
}

@media screen and (max-width: 768px) {
  .player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

b, strong
{
  font-family:'Poppins' !important;
}

.Modal {

  &-logo {

    width: 110px;  
    top: 20px;
    left: 0;
    right:0;
    margin:auto;
    z-index:10001;
    position:fixed;

    @media screen and (min-width: 768px) {
      top: 50px;
      left: 40px;
      margin:0;  
      width: 140px;  
    }

    &:hover {
      cursor: pointer;
    }
  }

.overlay_video
{
  position:absolute;
  z-index:998;
  width:100vw;
  height:100vh;
  background: linear-gradient(325deg, #0b3d7191 0%, #08607787 39%, #0f5f6b85 100%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.isPlaying
{
  opacity:0;
  pointer-events: none;
  touch-action: none;
   transition: all 0.45s ease;
}

.video_play_btn
{
  position:absolute;
  z-index:999;

  top:50%;
  transform:translateY(-50%);
  margin:auto;
  left:0;
  right:0;
  width:10vw;
  height:10vw;
  min-width:75px;
  min-height:75px;
  cursor:pointer;
  transition:all 0.35s;
  transform-origin:top;
  fill:#FFF;
  opacity:0.8;

  &:hover {
    // background-color: #fff;
    // color: #0F5F6B;
    transition:all 0.35s ease;
     transform: scale(1.2) translateY(-50%);
     opacity:1;
  }

}

  &-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(325deg, #0b3d71 0%, #086077 39%, #0f5f6b 100%);
    padding-top: 0px;

  }

  &-button-video {
    color: #fff;
    min-width:300px;
    min-height:80px;
    position:absolute;
    justify-content: center;
    bottom:50px;
    opacity:0.6;
    z-index:999;
    transition:all 0.35s;

    svg {
      margin-left: 15px;
      width: 25px;
      top: 50%;
      right: 0;
      vertical-align: middle;
    }

    &:hover {
      // background-color: #fff;
      // color: #0F5F6B;
      border: 1px solid #0F5F6B;
      opacity:1;
      transition:all 0.35s;

    }
  }

  &-button {
    color: #fff;
    margin-top: 45px;

    svg {
      margin-left: 15px;
      width: 15px;
      position: relative;
      top: 2px;
    }

    &:hover {
      background-color: #fff;
      color: #0F5F6B;
      border: 1px solid #0F5F6B;

      svg {
        fill: #0F5F6B !important;
      }
    }
  }
}

.Button-label
{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 3px;
  line-height: 55px;
}
