.cardContact
{
  width:80%;
  background-color: #FFF;
min-width:280px;
background-image: url("/assets/images/contact/texture_card.webp");
background-size: cover;
box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
transition: box-shadow 0.5s;
will-change: transform;
}

.cardContact:hover
{
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}


.Contact_wrapper
{
  width:100%;
  min-height:calc(100vh - 73px);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {

.Contact_wrapper
{
  min-height:calc(100vh + 80px);
}

.contact_background
{
  top:0%;
}

}

.contact_background
{
  width:120%;
  height:calc(100vh + 20%);
  background-image: url("/assets/images/contact/desk_texture.webp");
  background-size: cover;
  position: absolute;
  left:-10%;
  top:-10%;
}


.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  position: absolute;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  z-index:2;

  @media screen and (max-width: 768px) {
    padding-top: 10vw;
    padding-bottom: 10vw;
    top: 50%;

  }

  &-title {
    text-align: center;
    margin: 50px 0;
    color: #0F5F6B;
    font-size: 8rem;
    line-height: 4rem;
    display:none;
  }

  &-content {
    width: 100%;
    padding:7%;
    padding-left:8%;
    padding-right:15%;

    .wp-block-image {
      text-align: center;
      background-image: url("/assets/images/contact/logo-humakey.svg");
      min-height:150px;
      background-repeat: no-repeat;
      background-position: center;
      img {
        width: 250px;
        display:none;
      }
    }

    h3 {
      color: #0F5F6B;
      font-family: 'Poppins-Bold';
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 45px 0 0 0;
      text-shadow: 0px 2px 0px #FFF;

      &:before {
        content: '';
        width: 30px;
        height: 2px;
        background-color: #999;
        margin-bottom: 5px;
        display: block;
      }
    }

    .job {
      color: #999;
      font-size: 1.2rem;
      text-shadow: 0px 2px 0px #FFF;
    }

    .numbers {
      color: #0F5F6B;
      font-family: 'Poppins-Bold';
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 2px;

      a {
        font-family: 'Poppins-Bold';
        color: #0F5F6B;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
      @media screen and (max-width: 768px) {
        font-size: 1.1rem;
      }
    }

    .mail {
      color: #0F5F6B;
      font-size: 1.3rem;
      text-shadow: 0px 2px 0px #FFF;

      &:before {
        content: "";
        display: block;
        width: 10px;
      }

      a {
        color: #0F5F6B;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      @media screen and (max-width: 768px) {
        font-size: 1.1rem;
      }
      
    }





  }
}
