.Legale {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 35px auto 0 auto;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  &-title {
    text-align: center;
    margin: 50px 0;
    color: #FFF;
    font-size: 4rem;
    line-height: 4rem;
  }

  &-content {
    & a {

      color:#87b3b9;
      
    }

    & h4 {
      font-size: 1.1rem;
      font-family: 'Poppins-Bold';
      text-transform: uppercase;
      letter-spacing: 3px;
      color: #FFF;
      margin-top: 25px;
    }

    & p {
      color: #c5c5c5;
      font-size: 1.2rem;

      &.primary {
        color: #FFF;
        font-size: 1.4rem;
      }
    }

    & strong {
      font-family: 'Poppins-Bold';
    }
  }
}
