.wrapperImg
{
  position:absolute;
  overflow:hidden;
  width:100%;
}

.lazy-load-image-background
{
  height:33.33vw !important;
  min-height: 375px !important;
}

.Medias {
  min-height: calc(100vh - 53px);
  background-color: #0F5F6B;
  background-size: cover;

  &-item {
    width: 100%;
    background-image: url("/assets/images/media/placeholder.svg");
    background-size: cover;
    background-position: center;
    display:inline-block;
    
    & > span img
    {
      height:100% !important;
      object-fit: cover;
    }

    @media screen and (min-width: 768px) {
      width: 33.333333%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.Modal {
  background-color: #0F5F6B;

  &-slide {
    width: 100%;
    height: 100vh;

    & > div {
      background-repeat: no-repeat;
      background-position: center;
      max-height: 80%;
      max-width: 90%;
      min-width: 90%;
      left:0;
      right:0;
      margin:auto;
      top: 5%;
      position: relative;
      background-size: cover;
      top: 10%;

      @media screen and (min-width: 768px) {
        background-size: contain;
        top: 5%;
        min-height: 90%;
        max-height: 90%;
      }
    }

    & p {
      height: 100vh;
    }
  }
}

.Modal-galery
{

  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  
  .slick-arrow {
    z-index: 100;
    bottom: 40px;
    top: auto;
    transform: none;
    width: 30px;
    opacity: 1;
    transition: opacity 300ms;

    &:before {
      content: '';
    }
  }

  .slick-prev {
    left: 25px;
  }

  .slick-next {
    right: 35px;
  }
}
